.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left:50px
}
.cardtitle h1{
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-left: 30px ;
        padding: 20px;
}

.viewall{
    margin-top: 20px;
        /* background-color: #081371;
        color: #FFFFFF;
        width: 79px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-weight: 400;
        font-size: 12px;
        float: right; */
        margin-right: 40px;
            text-align: right;
            padding: 17px;
}
.viewall a{
color: #fff;
text-decoration: none;
margin-bottom: 0px;
    background-color: #081371;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
.cardcontainer {
       padding:20px;
       margin:0px
    }
}