.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 270vh;
    z-index: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
        z-index: 10;
}

.modal {
    /* width: 250px;
    height: 170px; */
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 30px;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: 3px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}

.signupcontainer {
    display: flex;
    width: 70%;
    gap: 50px;
    margin: auto;
    padding: 90px;
}

.signup_img {
    width: 40%
}

.inputcontainer {}

.inputcontainer input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 8px #eeeeee;
    border-radius: 4px;
    width: 380px;
    height: 44px;
    margin: 5px;
    text-indent: 40px;
}

.inputbox {
    box-shadow: 0px 0px 50px #eeeeee;
    /* width: 47%; */
    background: #fafafc;
    margin: auto;
}

.inputcontainer .submitbtn {
    background: #2867d9;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    text-indent: 0px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 8px #eeeeee;
    border-radius: 4px;
    width: 380px;
    height: 44px;
    margin: 5px;
}

.inputbox h2 {
    width: 380px;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin-left: 26px;
    color:#000000
}

.textbox {
    margin-top: 45px;
    font-weight: 500;
}

.inputcontainer img {
    position: absolute;
    padding: 15px;
    min-width: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

input:focus {
    outline: none !important;
}

.inputgroupbtn {
    position: absolute;
    margin-left: 341px;
    margin-top: 18px;
}

.textbox a {
    text-decoration: none;
}
 .signup_img button {
     background: none;
     border: none;
     color: #000000;
     font-weight: 500;
     font-size: 12px;
     font-family: 'Roboto';
 }
 .signup_img p {
     background: none;
     border: none;
     color: #000000;
     font-weight: 500;
     font-size: 12px;
     font-family: 'Roboto';
 }
.textbox p {
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
    font-size: 12px;

}
 @media only screen and (max-width: 768px) {
    .signup_img img{
            width: 155px;
       
 }
 .Or_outerorbox{
      margin-top: 0px;
    width: 100px;
 }
 .modal {
padding: 14px;
}
.centered {
top: 28%;
padding:0px
}
.signupcontainer {
    display: flex;
    width: 100%;
    gap: 9px;
    margin: auto;
    padding: 0px;
}
.textbox {
    margin-top: 60px;
}
 }